{% extends 'articles/base.html' %}
{% load bootstrap4 %}
{% block body %}
<h1>{{ article.id }}번 글</h1>
<h2>제목 : {{ article.title }}</h2>
<h2>작성자 : {{ article.user }}</h2>
<hr>
<div style="height: 200px">
  <p>{{ article.content|linebreaksbr }}</p>
  {% load hashtag %}
  <p>{{ article|make_link|safe|linebreaksbr }} </p>

</div>
  {% if article.image_thumbnail %}
    <img src="{{ article.image_thumbnail.url }}" alt="{{ article.image_thumbnail.name }}">
  {% endif %}
<br>
<hr>

<!-- <a href="{% url 'articles:like' article.pk %}"> -->
  {% if user in article.like_users.all %}
    <i id="like-button" data-id="{{article.id}}" class="fas fa-heart fa-2x" style="color:rgb(253, 76, 120)"></i>
    <!-- 좋아요취소 -->
  {% else %}
    <i id="like-button" data-id="{{article.id}}" class="far fa-heart fa-2x" style="color: rgb(253, 76, 120)"></i>
    <!-- 좋아요 -->
  {% endif %}
<!-- </a> -->
  <span id="like-count">{{ article.like_users.count }} 명이 이 글을 좋아합니다.</span>

<hr>
<p>작 성 일 : {{ article.created_at }}</p>
<p>최근 수정일 : {{ article.updated_at }}</p>
<a href="{% url 'articles:index'%}">목록으로</a>
{% if article.user == user %}
  <a href="{% url 'articles:update' article.pk %}">수정하기</a>
  <!-- <a href="{# url 'articles:delete' article.pk #}">삭제하기</a> -->
  <form action="{% url 'articles:delete' article.pk %}" method="POST" onclick="return confirm('진짜 지울래?')">
    {% csrf_token %}
    <input type="submit" value="삭제">
  </form>
{% endif %}
<hr>
<h3>댓글 작성</h3>

<form action="{% url 'articles:comment_create' article.pk %}" method="POST">
  {% csrf_token %}
  {% bootstrap_form comment_form %}
  <input type="submit" value="얍~!">
</form>
<br>
<div>
  <p>댓글 보기</p>
  {% for comment in article.comment_set.all %}
    <li>{{ comment.user.username }} : {{ comment.content }} - {{ comment.created_at }}
        <!-- <a href="{# url 'articles:comment_delete' comment.pk #}">댓글삭제</a>  -->
    </li>
    {% if comment.user == user %}
        <form action="{% url 'articles:comment_delete' article.pk comment.pk %}" method="POST" 
        onclick="return confirm('진짜 지울래?')">
            {% csrf_token %}
            <input type="submit" value="삭제">
        </form>
    {% endif %}
    {% empty %}
    <p> 댓글이 없어요ㅜㅜ 작성 해주세요</p>
    <br>
  {% endfor %}
  {% if messages %}
    <div class="messages text-info">
      {% for message in messages %}
        {{ message }}
      {% endfor %}
    </div>
  {% endif %}
</div>
<br>
{% endblock %}
{% block script %}
<script>
  const like = document.querySelector('#like-button')
  like.addEventListener('click', function(event) {
    // POST 요청 csrftoken을 AJAX 요청시 설정하는 법
    axios.defaults.xsrfCookieName = 'csrftoken'
    axios.defaults.xsrfHeaderName = 'X-CSRFToken'
    // django is_ajax() 분기가 되는 기준이 아래의 헤더 설정에 따라서 진행
    axios.defaults.headers.common['X-REQUESTED-WITH'] = 'XMLHttpRequest'
    axios.post(`/articles/${event.target.dataset.id}/like/`)
      .then(response => {
        if (response.data.is_liked) {
          event.target.classList.remove('far')
          event.target.classList.add('fas')
        }
        else{
          event.target.classList.remove('fas')
          event.target.classList.add('far')
        }
        const like_count = document.querySelector('#like-count')
        like_count.innerText = `${response.data.like_count} 명이 이 글을 좋아합니다.`
    })
    .catch(error => {
        console.log(error)
    })
  })
  
</script>

{% endblock %}